[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = [
  "pnpm install --frozen-lockfile || pnpm install --no-frozen-lockfile"
]

[phases.build]
cmds = [
  "pnpm --filter @edro/web run build"
]

[start]
cmd = "pnpm --filter @edro/web run start"

[variables]
COREPACK_ENABLE_DOWNLOAD_SIGN_CHECK = "0"
